h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* padding-left: 50px; */
  width: 100%;
  background-color: white;
}

.formmContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  /* margin: 10px 80px; */
  background-color: brown;
  padding: 10px;
}
.fieldBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.leftBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.error {
  color: black;
  font-size: 12px;
  text-transform: lowercase;
}
