.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* height: 100vh; */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
